.HeaderRight nav ul {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;

  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HeaderRight a {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
